<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css"> 
    <style>
        * {
            font-family: 'Satoshi', sans-serif !important;
            letter-spacing: -0.02em; 
        }
        a{
            text-decoration: none;
        }
        .button-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        button{
            min-width: 10em;
            padding: 0.3em;
            margin-bottom: 1em;
            background-color: white;
            border:2px solid black;
            border-radius: 1em;
            font-size: 1.3em;
        }
        button:hover{
            background-color: rgba(128, 128, 128, 0.16);
        }
        h2 {
            font-size: 2rem;
        }
    </style>
</head>

<body>
    <div class="button-container">
    <h2>ELECTRICITY BILL OPERATING SYSTEM</h2>
        <a href="./user">
            <button>Customer</button>
        </a>
        <a href="./operator">
            <button>Bill Operator</button>
        </a>
    </div>
</body>

</html>